---
import Portfolio from "../components/Portfolio";
import "../styles/portfolio.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content="whekin: backend engineer with a small public index of side projects."
		/>
		<title>whekin</title>
	</head>
	<body>
		<Portfolio />
	</body>
</html>
